<div id="gamerForm">
    <div id="select-Gamers"></div>
    <input type="hidden" id="{{ constant('App\\Service\\Tournament\\TournamentFormCreationRequestHandler::FORCED_TEAM_ID_FIELD') }}" value="0"/>
    <p style="text-align: center;"><button id="tournamentCreationButton">Créer le tournoi</button></p>
</div>